<div class="d-flex flex-column">
    <h1>Inscription</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstname, {'label': 'Nom', 'attr': {'placeholder': 'Votre nom...'}}) }}
    {{ form_row(form.lastname, {'label': 'Prenom', 'attr': {'placeholder': 'Votre prénom...'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Votre email...'}}) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form) }} <br> <br>
    
    <p class="signup">Vous avez déjà un compte ?
        <a href="#" onclick="toggleForm();">  Se connecter</a>
    </p>
</div>

