{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstname, {'label': 'Nom', 'attr': {'placeholder': 'Votre nom...'}}) }}
    {{ form_row(form.lastname, {'label': 'Prenom', 'attr': {'placeholder': 'Votre prénom...'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Votre email...'}}) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form) }} <br> <br>
    <a href="{{ path('app_login')}}">J'ai déjà un compte</a>
{% endblock %}