<footer class="bg-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div
        class="bloc footer-services col-lg-4 col-md-6 mb-4 mb-md-0 text-center"
      >
        <h3 class="text-uppercase text-light">Informations</h3>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{{ asset('base/cgv.html') }}" class="text-light">CGV</a>
          </li>
          <li>
            <a
              href="{{ asset('base/mentions-legales.html') }}"
              class="text-light"
              >Mention légales</a
            >
          </li>
          <li>
            <a href="{{ path('faq_index') }}" class="text-light">FAQ</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div
        class="bloc footer-services col-lg-4 col-md-6 mb-4 mb-md-0 text-center"
      >
        <h3 class="text-uppercase text-light">Liens</h3>

        <ul class="list-unstyled">
          <li>
            <a href="{{ path('home') }}" class="text-light">Accueil</a>
          </li>
          <li>
            <a href="{{ path('services_index') }}" class="text-light"
              >Services</a
            >
          </li>
          <li>
            <a href="{{ path('contact') }}" class="text-light">Contact</a>
          </li>
        </ul>
      </div>
      <div
        class="bloc footer-services text-light col-lg-4 col-md-6 mb-4 mb-md-0"
      >
        <h3 class="text-center">LES HORAIRES</h3>
        <ul class="liste-horaires">
          <li>❌ lun fermé</li>
          <li>✅ mar 09h-20h</li>
          <li>✅ mer 09h-20h</li>
          <li>✅ jeu 09h-20h</li>
          <li>✅ ven 09h-20h</li>
          <li>✅ sam 09h-20h</li>
          <li>✅ dim 10h-18h</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Logo -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0)">
    <div class="logo">
      <img
        src="{{ asset('build/images/garagepascal.png') }}"
        alt="Garage Pascal logo"
      />
    </div>
  </div>
</footer>
